
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-xs-12 col-sm-9 col-md-9 " style="float:left" id="mainContent">
    <script type="text/javascript" src="/Scripts/froala_editor.min.js"></script>
    <script type="text/javascript" src="/Scripts/langs/fa.js"></script>

    <div class="container-fluid" id="pjaxContainer">

        <div class="container" style="border:2px solid rgba(120, 120, 120,0.2);padding:30px;width:38%;height:470px;margin:30px auto;">
            <img src="~/Content/images/warranty.png" alt="لوگو سایت" class="img-responsive" style="margin:0 auto 20px;display:block;width:100px;height:100px;" />
            <h2 style="color:#ff4d4d;text-align:center;">تغییر رمز عبور</h2>
            <hr />
            <p style="color:#391326;font-size:15px;text-align:center;">
                ادمین گرامی، لطفا رمز عبور جدید خود را وارد کنید
            </p>
            <form method="post" action="/Admin/ChangePassword" class="form-group">

                @{
                    Sourceiran_MVC.Models.Domains.DBSI db = new Sourceiran_MVC.Models.Domains.DBSI();
                    string admin = Session["Admin"].ToString();
                    var q = db.Tbl_User.Where(a => a.UserName.Equals(admin)).SingleOrDefault().ID;
                }
                <br />
                <br />
                <input type="hidden" name="ID" value="@q" />
                <input type="password" name="Password" id="Password" placeholder="رمز عبور جدید خود را تایپ کنید..." style="float:right;margin-bottom:30px;"
                       class="form-control" required oninvalid="this.setCustomValidity('لطفا رمز عبور را وارد نمایید')" oninput="setCustomValidity('')" />
                <button class="btn btn-lg form-control" style="margin:0 auto;display:block;background-color:#ff3333;color:#fff;width:70%;">
                    ثبت کردن
                </button>
            </form>

            @Html.ActionLink("بازگشت", "Index", "Admin", new { }, new { @class = "btn btn-warning form-control btn-lg", @style= "margin:0 auto;display:block;width:70%;" })
        </div>

    </div>
</div>