@model Sourceiran_MVC.Models.Domains.Tbl_User
@{
    ViewBag.Title = "صفحه ورود";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container padding-top-30 ">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 ">

        <div style="@ViewBag.Style" class="@ViewBag.Class">
            @if (ViewBag.Style != null)
            {
                <button type="button" class="close" data-dismiss="alert">×</button>
            }

            @Html.Raw(ViewBag.Message)
        </div>

        <form action="~/Register/Login" method="post" class="sky-form boxed">
            <header>
                <i class="fa fa-lock  "></i> ورود به سایت
            </header>
            <fieldset class="nomargin padding-top-20 ">
                <div class="col-md-4 col-sm-5 col-xs-12 ">
                    <div class="form-horizontal border-left">
                        <div class="form-group text-center  ">
                            <figure class="text-center">
                                <img class="img-responsive thumbnail rounded " height="40" src="~/Content/images/User/user.png" style="height:60px ;width:60px" />
                                <p class="text-center">تازه وارد هستید؟</p>
                            </figure>
                            <a href="/Register/Register" class="btn btn-success nomargin ">ثبت نام </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3 padding-top-10 ">
                                <label>ایمیل یا نام کاربری:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-envelope"></i>
                                    <input class="text-box single-line" data-val="true" data-val-required="لطفا آدرس پست الکترونیک را وارد نمایید" id="Email" name="Email" type="text" value="" />
                                </label>
                                <p class="help-block"><span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></p>
                            </div>
                            <div class="col-md-1 nopadding-right padding-top-10 red">
                                <span class="required">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 padding-top-10 ">
                                <label for="Password">کلمه عبور:</label>
                            </div>
                            <div class="col-md-8">
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-user"></i>
                                    <input class="text-box single-line password" id="Password" name="Password" type="password" value="" />
                                </label>
                                <p class="help-block"><span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span></p>
                            </div>
                            <div class="col-md-1 nopadding-right padding-top-10 red">
                                <span class="required">*</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="padding-right-10 ">
                                <div class="col-md-6 nopadding-right " style="display :flex  ">
                                    <input data-val="true" data-val-required="&#39;Remember Me&#39; must not be empty." id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
                                    <label for="RememberMe">مرا به خاطر بسپار</label>
                                </div>
                                <a href="/User/RecoveryPass" class="pull-left ">رمز عبور را فراموش کرده اید؟</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3 ">
                                <button type="submit" class="btn btn-default btn-bordered" style="margin-left:25px;"><i class="fa fa-check"></i> ورود به سایت</button>
                                @Html.ActionLink("انصراف", "Index", "Home", new { }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
