
@{
    ViewBag.Title = "ارسال ایمیل بازیابی رمز عبور";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container" style="border:2px solid rgba(120, 120, 120,0.2);padding:30px;width:30%;margin:30px auto;">
    <img src="~/Content/images/warranty.png" alt="لوگو سایت" class="img-responsive" style="margin:0 auto 20px;display:block;width:100px;height:100px;" />
    <h2 style="color:#ff4d4d;text-align:center;">ایمیل بازیابی ارسال شد!</h2>
    <hr />
    <p style="color:#391326;font-size:15px;">
        لطفا ایمیل خود را بررسی نمایید. رمز عبور، به ایمیل شما ارسال شد.
    </p>
    <a href="/" class="btn btn-default btn-lg" style="background-color:#fff;color:#ff4d4d;margin:50px 35px 10px;display:block;">
        بازگشت به سایت
    </a>
</div>
