
@{
    Layout = null;
    ViewBag.Title = "خطای غیر مترقبه";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="font-family:IRANSans">
    <div class="container-fluid" style="height:720px;background:#ccccb3 url('/Content/images/Error404/interstellar.png') no-repeat center;background-size:cover;position:relative;">
        <div style="margin-right:20px;text-align:center;position:absolute;top:25%;left:70%;color:#1affc6;direction:rtl;line-height:1.8;">
            <h2>ای داد بیداد... خطای غیر مترقبه ای رخ داده. <br /> از شما خواهشمندیم که به قسمت قبل برگردید و مجدد اقدام خود را از سر بگیرید</h2>
            <br />
            <br />
            <br />
            <br />
            <p style="color:#ffffff"><strong>فروشگاه اینترنتی آنلاین متین</strong></p>
            <img src="~/Content/images/warranty1.png" alt="logo" />
            <br />
            <span style="color:#cccccc;">خطای غیر مترقبه</span>
        </div>
    </div>

    <!--<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>-->

</body>
</html>
