/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.nopAjaxFilters7Spikes .filtersTitlePanel {
	display: none;
}
.nopAjaxFilters7Spikes a {
    cursor: pointer;
}
.product-filters {
	display: none; /*hide empty default filters*/
}

.nopAjaxFilters7Spikes .block {
    min-height: 46px;
    margin: 0 auto 10px;
}
.nopAjaxFilters7Spikes .block .title {
    position: relative;
    overflow: hidden;
    padding: 0;
    background: #f6f6f6;
    margin: 0;
}
.nopAjaxFilters7Spikes .block .filtersGroupPanel {
    position: relative;
    padding: 15px 10px;
    overflow: hidden;
}
.nopAjaxFilters7Spikes .block .title a.toggleControl {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 12px 40px 12px 10px;
    color: #444;
    font-size: 18px;
}
.nopAjaxFilters7Spikes .block .title a.toggleControl:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 14px;
	width: 12px;
	height: 19px;
	margin-top: -9px;
	background: url(images/filters-toggle.png) center no-repeat;
}
.nopAjaxFilters7Spikes .block .title a.clearFilterOptions {
    position: absolute;
    top: 50%;
    right: 40px;
    font-size: 14px;
    line-height: 1;
    text-transform: lowercase;
    color: #888;
    cursor: pointer;
    margin-top: -7px;
}
.nopAjaxFilters7Spikes .block .title a.clearFilterOptions:hover {
	text-decoration: underline;
}



/* search criteria */

.selected-options-list > li {
	margin: 10px 0 0;
	font-size: 16px;
    overflow: hidden;
}
.selected-options-list > li:first-child {
	margin: 0;
}
.selected-options-list > li label{
    display: block;
    color: #444;
    margin: 0 0 2px;
}
.selected-options-list > li span {
    float: left;
    padding: 6px 14px 6px 0;
    margin: 0 20px 0 0;
    color: #4ab2f1;
    cursor: pointer;
    background: url(images/filters-remove.png) right center no-repeat;
    line-height: 1;
}
.selected-options-list > li span:hover {
	text-decoration: underline;
}



/* price range slider */

.priceRangeFilterPanel7Spikes .ui-slider {
    margin: 0 0 20px;
    border-radius: 0;
    height: 11px;
    background: #f3f3f3;
    border: 1px solid #ddd;
}
.priceRangeFilterPanel7Spikes .ui-slider-range.ui-widget-header {
    top: -1px;
    height: 11px;
    background: #ccc;
    border: 1px solid #bbb;
}
.priceRangeFilterPanel7Spikes .priceRangeMinMaxPanel {
    overflow: hidden;
    margin-bottom: 20px;
}
.priceRangeMinPanel,
.priceRangeCurrentPricesPanel .currentMinPrice {
    float: left;
}
.priceRangeMaxPanel,
.priceRangeCurrentPricesPanel .currentMaxPrice {
    float: right;
}
.priceRangeMinPanel,
.priceRangeMaxPanel {
    font-size: 14px;
    color: #888;
}
.priceRangeCurrentPricesPanel .currentMinPrice,
.priceRangeCurrentPricesPanel .currentMaxPrice {
    font-size: 16px;
    color: #444;
}
.nopAjaxFilters7Spikes .block .title a.clearPriceRangeFilter {
    position: absolute;
    top: 50%;
    right: 40px;
    font-size: 14px;
    line-height: 1;
    text-transform: lowercase;
    color: #888;
    cursor: pointer;
    margin-top: -7px;
}
.nopAjaxFilters7Spikes .block .title a.clearPriceRangeFilter:hover {
	text-decoration: underline;
}
.priceRangeFilterPanel7Spikes .ui-slider-handle {
    top: -7px !important;
    width: 10px !important;
    height: 23px !important;
    padding: 0 !important;
    cursor: pointer !important;
    background: #aaa !important;
    border: 1px solid #999 !important;
    border-radius: 0 !important;
    margin: 0 0 0 -1px !important;
}
.priceRangeFilterPanel7Spikes .ui-slider-handle:last-child {
	margin-left: -9px !important;
}



/* checkbox mode */

.nopAjaxFilters7Spikes .checkbox-list a {
    position: relative;
    display: block;
    font-size: 16px;
    color:#444;
    padding: 9px 0 9px 25px;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.nopAjaxFilters7Spikes .checkbox-list a:before,
.nopAjaxFilters7Spikes .checkbox-list a.filterItemSelected:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;        
}
.nopAjaxFilters7Spikes .checkbox-list a:before {
	background: url(images/filters-checkbox.png) no-repeat center;
}
.nopAjaxFilters7Spikes .checkbox-list a.filterItemSelected:after {
	background: url(images/filters-checkbox-checked.png) no-repeat center;
}
.nopAjaxFilters7Spikes .checkbox-list a.filterItemSelectedDisabled,
.nopAjaxFilters7Spikes .checkbox-list a.filterItemDisabled,
.nopAjaxFilters7Spikes .checkbox-list a.filterItemSelectedDisabled:hover,
.nopAjaxFilters7Spikes .checkbox-list a.filterItemDisabled:hover {
	opacity: .5;
	cursor: default;
}



/* color squares */

.nopAjaxFilters7Spikes .filtersGroupPanel.colorOptions .checkbox-list a:before {
    display: none;
}
.nopAjaxFilters7Spikes .filtersGroupPanel.colorOptions .checkbox-list a.filterItemSelected:after {
    background: url(images/filters-color-checkbox-checked.png) no-repeat center;
}
.nopAjaxFilters7Spikes .filtersGroupPanel.colorOptions .color-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;  
    border: 1px solid #eee;
}
.nopAjaxFilters7Spikes .filtersGroupPanel.colorOptions .color {
    width: 12px;
    height: 12px;
    display: block;
}
.nopAjaxFilters7Spikes .filtersGroupPanel.colorOptions .defaultColor {
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/* dropdown mode */

.jDropDown {
    position: relative;
}
.jDropDown .filters-select-wrap,
.jDropDown .toplevel {
    position: relative;
    font-size: 12px;
    color: #888;
    padding: 9px 32px 9px 12px;
    cursor: pointer;
    border: 1px solid #ddd;
}
.jDropDown .filters-select-wrap:after,
.jDropDown .toplevel:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background: url(images/filters-select-icon.png) no-repeat center;
}
.jDropDown .filters-select-dropdown,
.jDropDown .sublevel {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
}
.jDropDown .filters-select-dropdown li:hover, 
.jDropDown .filters-select-dropdown li.selected,
.jDropDown .sublevel li:hover,
.jDropDown .sublevel li.selected {
    background: #f6f6f6;
}
.jDropDown .filters-select-dropdown li a,
.jDropDown .sublevel li span {
    display: block;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
}
.filtersDropDownPanel {
    overflow: visible !important;
}
.filtersDropDown {
    width: 210px;
    margin: 0 auto;
}



/* product selectors */

.product-selectors {
    font-size: 0;
}
.product-selectors:after,
.product-sorting:after,
.product-viewmode:after,
.product-page-size:after{
    content: "";
	display: block;
	clear: both;
}
.product-selectors > div {
	margin: 0 5px;
}
.product-selectors .jDropDown {
    float: left;
}
.product-sorting .jDropDown {
    width: 140px;
}
.product-page-size .jDropDown {
    width: 55px;
    margin: 0 10px 0 0;
}
.product-sorting > span,
.product-viewmode > span,
.product-page-size > span {
    float: left;
    line-height: 34px;
    margin: 0 10px 0 0;
}
.number-of-returned-products.active {
    display: none;
}


/* no result popup */

.ajaxFilters.k-window {
    position: absolute;
    padding: 0 !important;
    background: #fff;
    text-align: left;
    z-index: 1061 !important;
}
.ajaxFilters .k-window-titlebar {
    position: relative;
    margin: 0 !important;
    display: block;
    font-size: 18px;
    color: #444;
    background: #efefef;
    border-bottom: 1px solid #ddd;
    padding: 12px 36px 12px 12px;
}
.ajaxFilters .k-window-actions {
    position: absolute;
    top: 16px;
    right: 14px;
    font-size: 0;
}
.ajaxFilters .k-window-actions a {
    display: block;
}
.ajaxFilters .k-window-actions .k-icon {
    display: block;
    width: 12px;
    height: 12px;
    background: url(images/filters-close.png) no-repeat center;
}
.ajaxFilters .k-window-content {
    padding: 15px;
}



/* AJAX LOADER */

.productPanelAjaxBusy {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
    filter: Alpha(opacity = 70);
    opacity: 0.7;
    z-index: 2;
}
.infinite-scroll-loader {
    display: none;
    height: 100px;
    background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
    font-size: 0;
    filter: Alpha(opacity = 70);
    opacity: 0.7;
    z-index: 2;
    clear: both;
}

@media all and (min-width: 769px) {
    
    .number-of-returned-products.active {
        display: block;
        float: right;
        margin: 3px;
        line-height: 26px;
    }
    .number-of-returned-products span {
        margin: 0 2px;
    }

}

@media all and (min-width: 1001px) {

    .nopAjaxFilters7Spikes .block .title a.toggleControl {
        font-weight: 700;
    }

    .product-selectors .product-sorting,
    .product-selectors .product-page-size {
        margin: 3px 9px;
    }
    .product-sorting > span,
    .product-viewmode > span,
    .product-page-size > span {
        float: left;
        line-height: 26px;
        margin: 0 10px 0 0;
    }
    .jDropDown .filters-select-wrap,
    .jDropDown .toplevel {
        padding: 5px 22px 5px 8px;
    }

}


@media all and (min-width: 1367px) {

    .product-page-size .jDropDown {
        width: 90px;
    }
    .jDropDown .filters-select-wrap,
    .jDropDown .toplevel {
        padding: 5px 32px 5px 12px;
    }

}